name: Caching

on:
  workflow_dispatch:

jobs:
  action-cache:
    name: Prime Demo cache
    runs-on: ubuntu-latest
    steps:
      - name: Restore cache
        id: demo-cache
        uses: actions/cache@v4
        with:
          path: demo-cache
          key: demo-cache-v1
      
      - name: Populate cache directory
        if: steps.demo-cache.outputs.cache-hit != 'true'
        run: |
          echo "Cache Miss - Generating contents"
          mkdir demo-cache
          date > demo-cache/timestamp.txt
      
      - name: Save cache
        uses: actions/cache@v4
        if: steps.demo-cache.outputs.cache-hit != 'true'
        with:
          path: demo-cache
          key: demo-cache-v1
      
      - name: Verify Cache status
        run: |
          echo "cache-hit? -> ${{ steps.demo-cache.outputs.cache-hit }}"
          cat demo-cache/timestamp.txt
  pip-cache:
    name: Python pip Cache
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Cache pip Packages
        id: pip-cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{hashFiles('**/requirements.txt')}}
          restore-keys: |
            ${{ runner.os }}-pip-${{hashFiles('**/requirements.txt')}}
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
    
      - name: Create Requirements.txt
        run: |
          echo "requests==2.31.0" >> requirements.txt
          echo "numpy==1.26.4" >> requirements.txt
      - name: Install Dependencies
        run: |
          pip3 install -r requirements.txt

      - name: Verify pip Cache status
        run: |
          echo "Cache Hit: ${{ steps.pip-cache.outputs.cache-hit }}"
          pip list
          echo "---"
          echo "If cache-hit is 'true', pip used cached packages"
          echo "If cache-hit is 'false', pip downloaded packages fresh"
  use-cached-dependencies:
    name: Use Cached Dependencies
    runs-on: ubuntu-latest
    needs: pip-cache
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Restore Cached pip Packages
        id: restor-cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{hashFiles('**/requirements.txt')}}
          restore-keys: |
            ${{ runner.os }}-pip-${{hashFiles('**/requirements.txt')}}
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
        
      - name: Create Requirements.txt
        run: |
          echo "requests==2.31.0" >> requirements.txt
          echo "numpy==1.26.4" >> requirements.txt

      - name: Install Dependencies
        run: |
          pip3 install -r requirements.txt

      - name: Run Application
        run: |
          import requests
          import numpy as np
          print("successfully imported cached dependencies!")
          print("requests version:", requests.__version__)
          print("numpy version:", np.__version__)
        shell: python
        
