name: Caching

on:
  workflow_dispatch:

jobs:
  action-cache:
    name: Prime Demo cache
    runs-on: ubuntu-latest
    steps:
      - name: Restore cache
        id: demo-cache
        uses: actions/cache@v4
        with:
          path: demo-cache
          key: demo-cache-v1
      
      - name: Populate cache directory
        if: steps.demo-cache.outputs.cache-hit != 'true'
        run: |
          echo "Cache Miss - Generating contents"
          mkdir demo-cache
          date > demo-cache/timestamp.txt
      
      - name: Save cache
        uses: actions/cache@v4
        if: steps.demo-cache.outputscache-hit != 'true'
        with:
          path: demo-cache
          key: demo-cache-v1
      
      - name: Verify Cache status
        run: |
          echo "cache-hit? -> ${{ steps.demo-cache.outputs.cache-hit }}"
          cat demo-cache/timestamp.txt